p{color:#747474;}
p strong{color:#1f1f1f;}
a{color:#2980b9;}

::-webkit-scrollbar { 
    display: none; 
}

html, body{
    overflow-x:hidden;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate3d(1,1,1);
    transform:translate3d(1,1,1);    
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {outline: none;}
*,*:after,*:before {	
    -webkit-box-sizing: border-box;	
    -moz-box-sizing: border-box;	
    box-sizing: border-box;	
    padding: 0;	
    margin: 0;
}

body{
	margin: 0;
	padding: 0;
	overflow-x:hidden;
    font-size:13px;
    font-family:'Lato', sans-serif;
    line-height:24px;
    font-weight:400;
}

::selection {background-color:#CCC; color:#000;}
div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
	display: block;
	position:relative;
}

textarea, input {outline: none;}

input{border-radius: 0; -webkit-border-radius:0px; display:inline-block;}
textarea{-webkit-appearance: none; border-radius: 0; -webkit-border-radius:0px;}
label a{display:inline-block;}

/*---Page Content Settings---*/
/*---------------------------*/

#page-transitions{left:0px; right:0px; display:block; overflow:hidden;}
#page-content{margin-bottom:0px; background-color:#FFFFFF;}
.page-content-gray{background-color:#e1e0e6;}
.middle-content{padding-top:150px; padding-bottom:200px;}

/*---Typography---*/ 
/*----------------*/ 

p{line-height: 28px; margin-bottom: 30px; font-size:13px;}
p > a {	display: inline; text-decoration: none;}
p > a:hover{text-decoration: underline;}
p > span {display: inline;}
p strong{font-size:13px; font-weight:500;}
span > a {display: inline;}
a > span {display: inline;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
strong a, em a{display:inline;}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {display: inline;}
table {border-collapse: separate; border-spacing: 0; width: 100%; clear: both; margin-bottom: 27px;}
th {vertical-align: middle; font-weight: bold;}
tr {line-height: 18px;}
td {text-align: center; padding:9px 0px 9px 0px; line-height: 18px;	vertical-align: middle;}
.table tr.even td{background: #efefef;}
.table tr:hover td{background: #f8f8f8;}
tr:hover > td {background: #fff;}
th{	border-bottom: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9;	color: #1f1f1f; line-height:35px;	background-color: #f6f6f6;}
td{ border-right: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9;   color: #666;	background-color: #fdfdfd;}
table{    background-color: #f6f6f6; border-left: 1px solid #e9e9e9;    	border-top: 1px solid #e9e9e9;}
.table-borders-light *{border-color:rgba(255,255,255,0.1);}
ul, ol{color:#666666;}
ul {margin-bottom: 30px;}
ul ul{margin-bottom:5px;}
ol ol{margin-bottom:5px;}
ol {margin-bottom: 30px;}
li {line-height: 24px;	margin-bottom:5px;}
ol > li:last-child, ul > li:last-child {margin-bottom:0px;}
textarea{font-family:'Lato', sans-serif;}
sub, sup{font-size: 50%; line-height: 0;  position: relative;  vertical-align: baseline;}
sup{top: -15px;} sub{bottom: 0px;}
.disabled{display:none!important;}
.disabled-box{display:none;}
.center-item{margin-left:auto; margin-right:auto;}
.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-15{font-size:15px;}
.font-16{font-size:16px;}
.font-17{font-size:17px;}
.font-18{font-size:18px;}
.font-19{font-size:19px;}
.font-20{font-size:20px;}
.font-21{font-size:21px;}

h1{ font-size:24px; line-height:26px; font-weight:500; margin-bottom:5px;}
h2{ font-size:21px; line-height:25px; font-weight:500; margin-bottom:5px;}
h3{ font-size:20px; line-height:24px; font-weight:500; margin-bottom:5px;}
h4{ font-size:17px; line-height:23px; font-weight:500; margin-bottom:5px;}
h5{ font-size:15px; line-height:22px; font-weight:500; margin-bottom:5px;}

h1, h2, h3, h4, h5{
	font-family:'Lato', sans-serif;
}

/*---Lists---*/
/*-----------*/

.font-icon-list li{list-style:none;	padding-left:0px; margin-left:-20px; line-height:30px;}
.font-icon-list i{margin-right:10px; width:20px; text-align:center;	display:inline-block;}
.font-icon-list .font-icon-list{padding-left:30px;}
.icon-list{list-style: none;    padding-left:0px;}
.icon-list i{width:20px; text-align:center; margin-left:-5px;}
.icon-list ul{padding-left:40px;}

ul{padding-left:20px; list-style-type:disc;}
ul ul, ol ol{padding-top:10px; padding-bottom:10px;}
ol{padding-left:20px; list-style-type: decimal;}
ol ol{list-style-type:lower-alpha;}
ol ol ol{list-style-type:disc;}

/*---Responsive Classes---*/
/*------------------------*/

.clear{clear:both;}
.no-bottom{margin-bottom:0px;}
.no-top{margin-top:0px; padding-top:0px;}
.half-bottom{margin-bottom:15px; display:block;}
.quarter-bottom{margin-bottom:5px;}
.quarter-top{margin-top:5px;}
.small-bottom{margin-bottom:10px; display:block;}
.small-top{margin-top:10px; display:block;}
.half-top{margin-top:15px; display:block;}
.full-bottom{margin-bottom:30px; display:block;}
.full-top{margin-top:30px; display:block;}
.left-padding{padding-left:30px;}
.right-padding{padding-right:30px;}
.padding-right{padding-right:20px;}
.padding-left{padding-left:20px;}
.no-border{border:none;}
.responsive-image{display:block; width:100%; margin-bottom:15px;}
.maps{min-height:200px;}
.polaroid-effect{background-image:#FFFFFF; border:solid 1px rgba(0,0,0,0.15); padding:7px;}
.rounded-image{border-radius:300px; max-width:300px; overflow: hidden;}
.no-shadow{box-shadow:none;}
.center-object{margin: auto; background-position:center;}
.box-shadow{box-shadow: 0px 2px 10px rgba(0,0,0,0.15);}
.icon-clear-left{padding-left:15px;}
.icon-clear-right{padding-right:15px;}
.text-shadow{text-shadow:0px 1px 0px #FFFFFF;}

.content{margin:0px 20px 30px 20px;}
.content-fullscreen, .content-full{margin-bottom:30px;	padding:0px;}

.last-column:after, container:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;    
}

.container, .container-fullscreen{margin-bottom:30px; display:block;}
.hide-if-mobile{display:none;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.thin{font-weight:300;}
.ultrathin{font-weight:100;}
.thiner{font-weight:400;}
.bold{font-weight:600;}
.regular{font-weight:400;}
.regularbold{font-weight:500;}
.ultrabold{font-weight:900;}
.justify{text-align:justify;}
.italic{font-style: italic;}
.pointer{cursor:pointer;}

.ultrasmall-text{font-size:10px;}
.small-text{font-size:12px; margin-top:-5px; display:block; line-height:24px;}
.smaller-text{font-size:11px; margin-top:-5px; display:block;}
.normal-text{font-size:14px;}
.larger-text{font-size:26px;}
.large-text{font-size:28px;}
.huge-text{font-size:30px;}
.boxed-text{max-width:100%; margin:0 auto; text-align:center;}
.boxed-text-small{max-width:200px; margin:0 auto; text-align:center;}
.boxed-text-large{max-width:300px; margin:0 auto; text-align:center;}
.medium-line-height{line-height:30px;}
.large-line-height{line-height:40px;}
.small-text-icon i{padding-left:15px; width:25px; padding-right:10px;}
.small-text-icon i:first-child{padding-left:0px;}
.border-text{border-width:4px; padding:5px 0px 5px 15px; border-right:none; border-top:none; border-bottom:none!important;}

.center-text{text-align:center; display:block;}
.left-text{text-align:left; display:block;}
.right-text{text-align:right; display:block;}

.one-half{width:45%; float:left; margin-right:10%;}
.one-third{width:28%; float:left; margin-right:8%;}    
.last-column{margin-right:0%;}

/*---Decorations---*/
/*-----------------*/
.decoration-margins{margin:0px 20px 0px 20px;}

.decoration{height:1px; display:block; margin-bottom:30px; clear:both; background-color:rgba(0,0,0,0.1); box-shadow: 0 1px 0 0 rgba(255,255,255,1);}
.decoration-boxed{margin:0px 20px 0px 20px;}
.decoration-lines div{height:5px; width:10%; float:left;}
.decoration-lines-thin div{height:3px; width:10%; float:left;}
.deco-0{background-color:#c0392b;}
.deco-1{background-color:#2ecc71;}
.deco-2{background-color:#3498db;}
.deco-3{background-color:#bdc3c7;}
.deco-4{background-color:#f1c40f;}
.deco-5{background-color:#e67e22;}
.deco-6{background-color:#9b59b6;}
.deco-7{background-color:#34495e;}
.deco-8{background-color:#16a085;}
.deco-9{background-color:#95a5a6; margin-bottom:30px;}
.deco-thick{height:3px; width:60px; margin:0 auto;}
.heading-icon{height:50px; width:50px; background-color:#FFFFFF; line-height:27px;}

.decoration-small{height:3px; width:100px; margin:0px auto 30px auto;}
.decoration-shadow{height: 5px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);}
.decoration-line-fade{border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}
.decoration-zig-zag{height: 6px; background: url(../images/framework/deco-zig.png) repeat-x 0 0; border: 0;}
.decoration-slash{height: 6px; background: url(../images/framework/deco-slash.png) repeat-x 0 0; border: 0;}

.bg-teal-light{ background-color: #A0CECB; color:#FFFFFF;}
.bg-teal-dark{  background-color: #7DB1B1; color:#FFFFFF;}
.border-teal-light{ border:solid 1px #A0CECB;}
.border-teal-dark{  border:solid 1px #7DB1B1;}
.bg-hover-teal-light:hover{ background-color: #A0CECB; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-teal-dark:hover{  background-color: #7DB1B1; color:#FFFFFF; transition:all 200ms ease;}
.color-teal-light{ color: #A0CECB;}
.color-teal-dark{  color: #7DB1B1;}

.bg-green-light{background-color: #A0D468; color:#FFFFFF;}
.bg-green-dark{background-color: #8CC152; color:#FFFFFF;}
.border-green-light{border:solid 1px #A0D468;}
.border-green-dark{ border:solid 1px #8CC152;}
.bg-hover-green-light:hover{background-color: #A0D468; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-green-dark:hover{background-color: #8CC152; color:#FFFFFF; transition:all 200ms ease;}
.color-green-light{color: #A0D468;}
.color-green-dark{color: #8CC152;}

.bg-green2-light{background-color: #2ECC71; color:#FFFFFF;}
.bg-green2-dark{background-color: #2ABA66; color:#FFFFFF;}
.border-green2-light{border:solid 1px #2ECC71;}
.border-green2-dark{ border:solid 1px #2ABA66;}
.bg-hover-green2-light:hover{background-color: #2ECC71; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-green2-dark:hover{background-color: #2ABA66; color:#FFFFFF; transition:all 200ms ease;}
.color-green2-light{color: #2ECC71;}
.color-green2-dark{color: #2ABA66;}

.bg-blue-light{background-color: #5D9CEC; color:#FFFFFF;}
.bg-blue-dark{background-color: #4A89DC; color:#FFFFFF;}
.border-blue-light{border:solid 1px #5D9CEC;}
.border-blue-dark{ border:solid 1px #4A89DC;}
.bg-hover-blue-light:hover{background-color: #5D9CEC; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-blue-dark:hover{background-color: #4A89DC; color:#FFFFFF; transition:all 200ms ease;}
.color-blue-light{color: #5D9CEC;}
.color-blue-dark{color: #4A89DC;}

.bg-blue2-light{background-color: #4FC1E9; color:#FFFFFF;}
.bg-blue2-dark{background-color: #3BAFDA; color:#FFFFFF;}
.border-blue2-light{border:solid 1px #4FC1E9;}
.border-blue2-dark{ border:solid 1px #3BAFDA;}
.bg-hover-blue2-light:hover{background-color: #4FC1E9; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-blue2-dark:hover{background-color: #3BAFDA; color:#FFFFFF; transition:all 200ms ease;}
.color-blue2-light{color: #4FC1E9;}
.color-blue2-dark{color: #3BAFDA;}

.bg-magenta-light{background-color: #8067B7; color:#FFFFFF;}
.bg-magenta-dark{background-color: #6A50A7; color:#FFFFFF;}
.border-magenta-light{border:solid 1px #8067B7;}
.border-magenta-dark{ border:solid 1px #6A50A7;}
.bg-hover-magenta-light:hover{background-color: #8067B7; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-magenta-dark:hover{background-color: #6A50A7; color:#FFFFFF; transition:all 200ms ease;}
.color-magenta-light{color: #8067B7;}
.color-magenta-dark{color: #6A50A7;}

.bg-night-light{background-color: #656D78; color:#FFFFFF;}
.bg-night-dark{background-color: #434A54; color:#FFFFFF;}
.border-night-light{border:solid 1px #656D78;}
.border-night-dark{ border:solid 1px #434A54;}
.bg-hover-night-light:hover{background-color: #656D78; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-night-dark:hover{background-color: #434A54; color:#FFFFFF; transition:all 200ms ease;}
.color-night-light{color: #656D78;}
.color-night-dark{color: #434A54;}

.bg-yellow-light{background-color: #FFCE54; color:#FFFFFF;}
.bg-yellow-dark{background-color: #F6BB42; color:#FFFFFF;}
.border-yellow-light{border:solid 1px #FFCE54;}
.border-yellow-dark{ border:solid 1px #F6BB42;}
.bg-hover-yellow-light:hover{background-color: #FFCE54; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-yellow-dark:hover{background-color: #F6BB42; color:#FFFFFF; transition:all 200ms ease;}
.color-yellow-light{color: #FFCE54;}
.color-yellow-dark{color: #F6BB42;}

.bg-yellow2-light{background-color: #E8CE4D; color:#FFFFFF;}
.bg-yellow2-dark{background-color: #E0C341; color:#FFFFFF;}
.border-yellow2-light{border:solid 1px #E8CE4D;}
.border-yellow2-dark{ border:solid 1px #E0C341;}
.bg-hover-yellow2-light:hover{background-color: #E8CE4D; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-yellow2-dark:hover{background-color: #E0C341; color:#FFFFFF; transition:all 200ms ease;}
.color-yellow2-light{color: #E8CE4D;}
.color-yellow2-dark{color: #E0C341;}

.bg-orange-light{background-color: #FC6E51; color:#FFFFFF;}
.bg-orange-dark{background-color: #E9573F; color:#FFFFFF;}
.border-orange-light{border:solid 1px #FC6E51;}
.border-orange-dark{ border:solid 1px #E9573F;}
.bg-hover-orange-light:hover{background-color: #FC6E51; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-orange-dark:hover{background-color: #E9573F; color:#FFFFFF; transition:all 200ms ease;}
.color-orange-light{color: #FC6E51;}
.color-orange-dark{color: #E9573F;}

.bg-red-light{background-color: #e74c3c; color:#FFFFFF;}
.bg-red-dark{background-color: #c0392b; color:#FFFFFF;}
.border-red-light{border:solid 1px #e74c3c;}
.border-red-dark{ border:solid 1px #c0392b;}
.bg-hover-red-light:hover{background-color: #e74c3c; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-red-dark:hover{background-color: #c0392b; color:#FFFFFF; transition:all 200ms ease;}
.color-red-light{color: #e74c3c;}
.color-red-dark{color: #c0392b;}

.bg-pink-light{background-color: #fa6a8e ; color:#FFFFFF;}
.bg-pink-dark{background-color: #FB3365 ; color:#FFFFFF;}
.border-pink-light{border:solid 1px #fa6a8e ;}
.border-pink-dark{ border:solid 1px #FB3365 ;}
.bg-hover-pink-light:hover{background-color: #f85d84; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-pink-dark:hover{background-color: #fa6a8e; color:#FFFFFF; transition:all 200ms ease;}
.color-pink-light{color: #fa6a8e;}
.color-pink-dark{color: #FB3365;}

.bg-brown-light{background-color: #BAA286 ; color:#FFFFFF;}
.bg-brown-dark{background-color: #AA8E69 ; color:#FFFFFF;}
.border-brown-light{border:solid 1px #BAA286 ;}
.border-brown-dark{ border:solid 1px #AA8E69 ;}
.bg-hover-brown-light:hover{background-color: #BAA286; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-brown-dark:hover{background-color: #AA8E69; color:#FFFFFF; transition:all 200ms ease;}
.color-brown-light{color: #BAA286;}
.color-brown-dark{color: #AA8E69;}

.bg-brown2-light{background-color: #8E8271 ; color:#FFFFFF;}
.bg-brown2-dark{background-color: #7B7163 ; color:#FFFFFF;}
.border-brown2-light{border:solid 1px #8E8271 ;}
.border-brown2-dark{ border:solid 1px #7B7163 ;}
.bg-hover-brown2-light:hover{background-color: #8E8271; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-brown2-dark:hover{background-color: #7B7163; color:#FFFFFF; transition:all 200ms ease;}
.color-brown2-light{color: #8E8271;}
.color-brown2-dark{color: #7B7163;}

.bg-gray-light{background-color: #bdc3c7; color:#FFFFFF;}
.bg-gray-dark{background-color: #95a5a6; color:#FFFFFF;}
.border-gray-light{border:solid 1px #bdc3c7;}
.border-gray-dark{ border:solid 1px #95a5a6;}
.bg-hover-gray-light:hover{background-color: #bdc3c7; color:#FFFFFF; transition:all 200ms ease;}
.bg-hover-gray-dark:hover{background-color: #95a5a6; color:#FFFFFF; transition:all 200ms ease;}
.color-gray-light{color: #bdc3c7;}
.color-gray-dark{color: #95a5a6;}

.bg-white{background-color:#FFFFFF;}
.bg-hover-black:hover{background-color:#FFFFFF; color:#000000;}
.color-white{color:#FFFFFF;}
.border-white{border:solid 1px #FFFFFF;}
.border-light{border-color:rgba(255,255,255,0.05);}

.bg-black{background-color:#000000;}
.bg-hover-black:hover{background-color:#000000; color:#FFFFFF;}
.color-black{color:#000000;}
.border-black{border:solid 1px #000000;}

.facebook-color{color:#3b5998;}
.linkedin-color{color:#0077B5;}
.twitter-color{color:#4099ff;}
.google-color{color:#d34836;}
.whatsapp-color{color:#34AF23;}
.pinterest-color{color:#C92228;}
.sms-color{color:#27ae60;}
.mail-color{color:#3498db;}
.dribbble-color{color:#EA4C89;}
.tumblr-color{color:#2C3D52;}
.reddit-color{color:#336699;}
.youtube-color{color:#D12827;}
.phone-color{color:#27ae60;}
.skype-color{color:#12A5F4;}

/*---Buttons---*/
/*-------------*/

@media(max-width:560px){.demo-socials a{width:100%;}}
@media(min-width:560px) and (max-width:760px){.demo-socials a{width:45%;}}
@media(min-width:760px) and (max-width:1280px){.demo-socials a{width:31%;}}
@media(min-width:1280px){.demo-socials a{width:18%;}}    

.icon{display:inline-block; margin:0px 5px 5px 5px; transition:all 250ms ease;}
.icon:hover, .button:hover{
	transform:scale(1.1, 1.1);
	transition:all 250ms ease;
}
.button, .button-round{
    color:#FFFFFF;
    height:45px;
    line-height:42px;
    text-align:center;
    font-size:12px;
    display:inline-block;
    margin:10px 10px 10px 0px;
    padding:0px 20px 0px 20px;
}
.button:hover{transform:scale(1,1);}

.button-ghost:hover{background-color:#FFFFFF; color:#1f1f1f;}
.icon i{display:block; text-align:center;}
.button-bold{font-weight:700;}
.button-xl{font-size:18px; height:70px; line-height:68px;}
.button-xl.button-icon i{font-size:12px; height:70px; width:68px; border-radius:70px; line-height:70px;}
.button-l{font-size:16px; height:60px; line-height:60px;}
.button-l.button-icon i{font-size:20px; height:60px; width:55px; line-height:60px;}
.button-l.button-icon{line-height:60px;}
.button-m{font-size:15px; height:55px; line-height:55px;}
.button-m.button-icon i{font-size:16px; height:55px; width:55px; line-height:55px;}
.button-m.button-icon{line-height:55px;}
.button-sm{font-size:12px; height:45px; line-height:41px;}
.button-sm.button-icon i{font-size:14px; height:45px; width:45px; line-height:45px;}
.button-sm.button-icon{line-height:45px;}
.button-s{font-size:12px; height:40px; line-height:36px;}
.button-s.button-icon i{font-size:14px; height:40px; width:40px; line-height:40px;}
.button-s.button-icon{line-height:40px;}
.button-xs{font-size:11px; height:35px; line-height:31px;}
.button-xs.button-icon i{font-size:14px; height:35px; width:35px; line-height:35px;}
.button-xs.button-icon{line-height:35px;}
.button-icon.button-center-large{padding-left:40px;}

.icon-xxl{width:100px; height:100px; line-height:100px; font-size:40px;}
.icon-xxl i{width:100px; height:100px; line-height:100px; font-size:40px;}
.icon-xl{width:70px; height:70px; line-height:70px; font-size:32px;}
.icon-xl i{width:70px; height:70px; line-height:70px; font-size:32px;}
.icon-l{width:60px; height:60px; line-height:60px; font-size:24px;}
.icon-l i{width:60px; height:60px; line-height:60px; font-size:24px;}
.icon-m{width:55px; height:55px; line-height:55px; font-size:20px;}
.icon-m i{width:55px; height:55px; line-height:55px; font-size:20px;}
.icon-s{width:40px; height:40px; line-height:38px; font-size:16px;}
.icon-s i{width:40px; height:40px; line-height:39px; font-size:16px;}
.icon-xs i{width:35px; height:35px; line-height:35px; font-size:14px;}
.icon-xs{width:35px; height:35px; line-height:35px; font-size:14px;}
.icon-round{border-radius:3px;}
.icon-circle{border-radius:100%;}
.icon-center{margin:0 auto; display:block;}

.button-teal{background-color:#A0CECB; border:solid 2px #A0CECB; }
.button-teal:hover{background-color:#7DB1B1; border:solid 2px #7DB1B1;}
.button-teal:active{background-color:#628d8d; border-bottom:solid 2px #628d8d;}

.button-mint{background-color:#48CFAD; border:solid 2px #48CFAD; }
.button-mint:hover{background-color:#37BC9B; border:solid 2px #37BC9B;}
.button-mint:active{background-color:#2fa285; border-bottom:solid 2px #2fa285;}

.button-green{background-color:#8CC152; border:solid 2px #8CC152;}
.button-green:hover{background-color:#A0D468; border:solid 2px #A0D468;}
.button-green:active{background-color:#77a346; border:solid 2px #77a346;}

.button-blue{background-color:#4A89DC; border:solid 2px #4A89DC;}
.button-blue:hover{background-color:#5D9CEC; border:solid 2px #5D9CEC;}
.button-blue:active{background-color:#3a71b9; border:solid 2px #3a71b9;}

.button-blue2{background-color:#4FC1E9; border:solid 2px #4FC1E9;}
.button-blue2:hover{background-color:#3BAFDA; border:solid 2px #3BAFDA;}
.button-blue2:active{background-color:#3ba3c9; border:solid 2px #3ba3c9;}

.button-magenta{background-color:#AC92EC; border:solid 2px #AC92EC;}
.button-magenta:hover{background-color:#967ADC; border:solid 2px #967ADC;}
.button-magenta:active{background-color:#8a70cc; border:solid 2px #8a70cc;}

.button-magenta2{background-color:#8067B7; border:solid 2px #8067B7;}
.button-magenta2:hover{background-color:#6A50A7; border:solid 2px #6A50A7;}
.button-magenta2:active{background-color:#503a84; border:solid 2px #503a84;}

.button-dark{background-color:#3C3B3D; border:solid 2px #3C3B3D;}
.button-dark:hover{background-color:#323133; border:solid 2px #323133;}
.button-dark:active{background-color:#000000; border:solid 2px #000000;}

.button-dark2{background-color:#656D78; border:solid 2px #656D78;}
.button-dark2:hover{background-color:#656D78; border:solid 2px #656D78;}
.button-dark2:active{background-color:#3a404a; border:solid 2px #434A54;}

.button-yellow{background-color:#F6BB42; border:solid 2px #F6BB42;}
.button-yellow:hover{background-color:#d8a02e; border:solid 2px #d8a02e;}
.button-yellow:active{background-color:#cb9527; border:solid 2px #cb9527;}

.button-orange{background-color:#FC6E51; border:solid 2px #FC6E51;}
.button-orange:hover{background-color:#E9573F; border:solid 2px #E9573F;}
.button-orange:active{background-color:#c6442f; border:solid 2px #c6442f;}

.button-red{background-color:#ED5565; border:solid 2px #ED5565;}
.button-red:hover{background-color:#DA4453; border:solid 2px #DA4453;}
.button-red:active{background-color:#BF263C; border:solid 2px #BF263C;}

.button-pink{background-color:#FB3365; border:solid 2px #FB3365;}
.button-pink:hover{background-color:#ff4876; border:solid 2px #e22c59;}
.button-pink:active{background-color:#e22c59; border:solid 2px #e22c59;}

.button-pink2{background-color:#EC87C0; border:solid 2px #EC87C0;}
.button-pink2:hover{background-color:#D770AD; border:solid 2px #D770AD;}
.button-pink2:active{background-color:#ba5992; border:solid 2px #ba5992;}

.button-full{display:block; width:100%; margin-left:-1px}
.button-round{border-radius:40px;}

.button-center-large{
    display:block;
    width:250px;
    margin-left:auto; 
    margin-right:auto;
}

.button-center{
    width:150px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.button-center-small{
	width:100px;
	margin:0 auto;
	display:block;
}

.button-rounded{border-radius:4px;}
.button-round.button-icon i{border-radius:50px;}
.button-icon i{
    width:50px;
    line-height:50px;
    height:100%;
    top:0px;
    left:0px;
    position:absolute;
    font-size:16px;
    background-color:rgba(0,0,0,0.1);
}
.button-icon.button-full{padding-left:20px;}
.button:hover{text-decoration: none;}

/*---Checkboxes & Radios---*/
/*-------------------------*/

.fac {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size:13px;
	color:#666666;
}

.fac label {
    margin: 0em 1em 0em 0em;
    padding-left: 1.5em;
    cursor:pointer;
    font-weight:inherit;
}

.fac > input + label:before,
.fac > span::after {
    font-family: FontAwesome;
    position:absolute;
    left:0;
	margin-top:0.5px;
}

.fac > input + label:before {transition: opacity 150ms ease-in-out;}
.fac input{display:none;}
.checkboxes-demo .fac{display:block;}

.fac-checkbox > input + label:before, .fac-checkbox-round > input + label:before {opacity: 1;}
.fac-checkbox > input:checked + label:before, .fac > input:checked + label:before {opacity: 0;}

.fac-radio > input + label:before,
.fac-checkbox-o > input + label:before,
.fac-checkbox-round-o > input + label:before {opacity: 0;}
.fac-radio > input:checked + label:before,
.fac-checkbox-o > input:checked + label:before,
.fac-checkbox-round-o > input:checked + label:before {opacity: 1;}

.fac-default > input + label:before, .fac-default > span::after {color: #9d9d9d;}
.fac-blue > input + label:before,    .fac-blue > span::after {color: #428bca;}
.fac-green > input + label:before,   .fac-green > span::after {color: #5cb85c;}
.fac-orange > input + label:before,  .fac-orange > span::after {color: #f0ad4e;}
.fac-red > input + label:before,     .fac-red > span::after {color: #d9534f;}

.fac-checkbox > span::after {content: "\f096";}
.fac-checkbox > input[type=checkbox] + label:before {content: "\f046";}
.fac-checkbox-round > span::after {content: "\f1db";}
.fac-checkbox-round > input[type=checkbox] + label:before {content: "\f05d";}
.fac-checkbox-o > span::after {content: "\f1db";  }
.fac-checkbox-o > input[type=checkbox] + label:before {content: "\f111";}
.fac-checkbox-round-o > span::after {content: "\f057";}
.fac-checkbox-round-o > input[type=checkbox] + label:before {content: "\f111";}
.fac-radio > span::after {content: "\f1db";}
.fac-radio > input[type=radio] + label:before {content: "\f05d";} 
.fac-radio-full > span::after {content: "\f05d";}
.fac-radio-full > input[type=radio] + label:before {content: "\f111";}  

/*---Tabs---*/
.tab-item{display:none;}
.active-tab-button{
	background-color:#FFFFFF!important; 
	color:#000000; 
	border-bottom:solid 1px #A0D468; 
	transition:all 500ms ease;
	z-index:9;
	font-weight:900;
}

.tab-titles a{
	display:inline-block;
	padding:5px 15px;
	background-color:rgba(0,0,0,0.05);
	color:#666666;
	margin-right:-4px;
	transition:all 500ms ease;
	border-top:solid 1px rgba(0,0,0,0.1);
	border-left:solid 1px rgba(0,0,0,0.1);
	border-bottom:solid 1px rgba(0,0,0,0);
	z-index:8;
	font-size:12px;
}

.tab-titles a:last-child{
	border-right:solid 1px rgba(0,0,0,0.1);
}

.tab-content{
	margin-top:-1px;
	padding:15px 15px;
	border:solid 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
	margin-bottom:30px;
}

.icon-left-column i{
	position:absolute;
	color:#3c3c3c;
	width:50px;
	padding-top:5px;
	text-align:center;
}

.icon-left-column h4{
	padding-left:70px;
	font-size:17px;
	text-shadow:0px 1px 0px #FFFFFF;
}

.icon-left-column p{
	text-shadow:0px 1px 0px #FFFFFF;
	padding-left:70px;
	font-size:12px;
}

.icon-center-column img{
	margin:0 auto;
}

.icon-center-column h4{
	text-align:center;
	text-transform:uppercase;
	padding:10px 0px;
}

.icon-center-column p{
	text-align:center;
	line-height:24px;
	font-size:13px;
}

/*Blockquotes*/

.blockquote{
	font-weight:300;
	font-size:14px;
	font-style: italic;
}

.blockquote-border{
	font-weight:300;
	font-size:14px;
	font-style: italic;
	border-left:solid 5px #1f1f1f;;
	padding-left:30px;
}

.blockquote-icon{
	font-weight:300;
	font-size:14px;
	font-style: italic;
	padding-left:60px;
}

.blockquote-icon i{
	font-size:40px;
	position:absolute;
	left:0px;
	top:10px;
	color:#454545;
}	

.blockquote strong, .blockquote-border strong, .blockquote-icon strong{
	display:block;
	text-align:right;
}

/*Highlight*/
.highlight{
	color:#FFFFFF;
	padding:2px 6px;
}

/*Bubble Left*/
.bubble-left em, .bubble-right em{font-size:10px; display:block; color:#1f1f1f; font-style:normal;}
.bubble-left strong, .bubble-right strong{
	background-color:rgba(8, 127, 254, 1);
	color:#FFFFFF;
	display:block;
	font-weight:400;
	font-size:12px;
	border:solid 1px rgba(0,0,0,0.1);
	padding:5px 10px;
}

.bubble-left, .bubble-right{width:100%; margin:10px 0;}
.bubble-right{float:right;}
.bubble-right em{text-align:right;}
.bubble-right strong{background-color:#FFFFFF!important; color:#1f1f1f!important;}


/*Lists*/
.icon-lists{
	list-style: none;
	padding-left:0px;
}

.icon-lists li{
	background-size:14px 14px;
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:30px;
}

.icon-lists li i{
	margin-left:-50px;
	width:50px;
	text-align:center;
	color:#000000;
}

.list-address {background-image: url(../images/lists/address_64.png);}
.list-block {background-image: url(../images/lists/block_64.png);}
.list-bookmark {background-image: url(../images/lists/bookmark_64.png);}
.list-briefcase {background-image: url(../images/lists/briefcase_64.png);}
.list-bubble {background-image: url(../images/lists/bubble_64.png);}
.list-buy {background-image: url(../images/lists/buy_64.png);}
.list-calendar {background-image: url(../images/lists/calendar_64.png);}
.list-clipboard {background-image: url(../images/lists/clipboard_64.png);}
.list-delete {background-image: url(../images/lists/delete_64.png);}
.list-clock {background-image: url(../images/lists/clock_64.png);}
.list-diagram {background-image: url(../images/lists/diagram_64.png);}
.list-document {background-image: url(../images/lists/document_64.png);}
.list-down {background-image: url(../images/lists/down_64.png);}
.list-flag {background-image: url(../images/lists/flag_64.png);}
.list-folder {background-image: url(../images/lists/folder_64.png);}
.list-gear {background-image: url(../images/lists/gear_64.png);}
.list-globe {background-image: url(../images/lists/globe_64.png);}
.list-heart {background-image: url(../images/lists/heart_64.png);}
.list-help {background-image: url(../images/lists/help_64.png);}
.list-home {background-image: url(../images/lists/home_64.png);}
.list-key {background-image: url(../images/lists/key_64.png);}
.list-label {background-image: url(../images/lists/label_64.png);}
.list-left {background-image: url(../images/lists/left_64.png);}
.list-letter {background-image: url(../images/lists/letter_64.png);}
.list-monitor {background-image: url(../images/lists/monitor_64.png);}
.list-pencil {background-image: url(../images/lists/pencil_64.png);}
.list-plus {background-image: url(../images/lists/plus_64.png);}
.list-present {background-image: url(../images/lists/present_64.png);}
.list-print {background-image: url(../images/lists/print_64.png);}
.list-right {background-image: url(../images/lists/right_64.png);}
.list-save {background-image: url(../images/lists/save_64.png);}
.list-shield {background-image: url(../images/lists/shield_64.png);}
.list-statistics {background-image: url(../images/lists/statistics_64.png);}
.list-stop {background-image: url(../images/lists/stop_64.png);}
.list-tick {background-image: url(../images/lists/tick_64.png);}
.list-trash {background-image: url(../images/lists/trash_64.png);}
.list-up {background-image: url(../images/lists/up_64.png);}
.list-user {background-image: url(../images/lists/user_64.png);}
.list-walet {background-image: url(../images/lists/wallet_64.png);}
.list-warning {background-image: url(../images/lists/warning_64.png);}

.progress{
	margin-bottom:20px;
}

.progress-bg{
	background-color:rgba(255,255,255,0.7);
	display:block;
	width:100%;
	height:20px;
	border-radius:25px;
	border:solid 1px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 6px 1px rgba(0,0,0,0.1);
	padding-right:3px;
	padding-left:3px;
}

.progress-bg div{
	left:0px;
	height:12px;
	margin-top:3px;
	border-radius:20px;
	opacity:0.9;
}

.p10{width:10%;}
.p15{width:15%;}
.p20{width:20%;}
.p25{width:25%;}
.p30{width:30%;}
.p35{width:35%;}
.p40{width:40%;}
.p45{width:45%;}
.p50{width:50%;}
.p55{width:55%;}
.p60{width:60%;}
.p65{width:65%;}
.p70{width:70%;}
.p75{width:75%;}
.p80{width:80%;}
.p85{width:85%;}
.p90{width:90%;}
.p95{width:95%;}
.p100{width:100%;}

.progress em{
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	padding-left:5px;
	font-style:normal;
	color:#000000;
}

.progress span{
	font-size:11px; 
	color:#666666;
	padding-left:10px;
}

.progress strong{
	position:absolute;
	right:0px;
	font-size:11px;
	font-weight:400;
}

/*Notification*/
.notification{
	padding:25px 20px 0px 20px;
}

.notification h4{
	font-weight:700;
	font-size:20px;
}

.notification .hide-notification{
	position:absolute;
	right:5px;
	top:10px;
	line-height:55px;
	width:50px;
	height:60px;
	color:#FFFFFF;
	text-align:center;
}

.notification p{
	color:#FFFFFF;
	opacity:0.7;
	padding:5px 10px 30px 00px;
}

/*---Toggles---*/
/*-------------*/

.read-more-box{display:none;}
.toggle{clear:both;}
.toggle .toggle-content{display:none;}
.toggle-trigger{float:right; margin-bottom:15px;}
.toggle-title{
	float:left; 
	cursor:pointer;
	line-height:30px;
	width:100%;
	position:absolute;
	font-size:14px;
}
.toggle-subtitle{padding-top:20px; position:absolute;}
.toggle-content{clear:both;}
.toggle-trigger:after {content: ""; display: table; clear: both;}

.toggle .bg-white{border:solid 1px rgba(0,0,0,0.2); background-color:#f6f6f6;}
.toggle span{border:solid 1px rgba(0,0,0,0.2);}

.toggle-1 *{ transition:all 200ms ease; overflow:hidden;}
.toggle-1 i, .toggle-1 span{position:absolute;}
.toggle-1 i{padding:0px 8px 0px 8px; font-size:10px;}
.toggle-active .toggle-1 i:last-child{opacity:0;}
.toggle-active .toggle-1 span{transform:translateX(24px);}

.toggle-1, .toggle-1 i, .toggle-1 span{
	width:50px;
	height:27px;
	border-radius:26px;
	line-height:26px;
	border:solid 1px rgba(0,0,0,0);
}

.toggle-1 span{
	width:27px;
	background-color:#FFFFFF;
	border:solid 1px rgba(0,0,0,0.2);
	z-index:1;
	margin-top:0px;
	left:-1px;
}

.toggle-2 *{ transition:all 200ms ease; overflow:hidden;}
.toggle-2 i, .toggle-2 span{position:absolute;}
.toggle-2 i{padding:0px 10px 0px 10px; font-size:12px;}
.toggle-active .toggle-2 i:last-child{opacity:0;}
.toggle-active .toggle-2 span{transform:translateX(23px);}

.toggle-2, .toggle-2 i, .toggle-2 span{
	width:50px;
	height:27px;
	border-radius:26px;
	line-height:29px;
	border:solid 1px rgba(0,0,0,0);
}

.toggle-2 span{
	width:23px;
	height:23px;
	background-color:#FFFFFF;
	border:solid 1px rgba(0,0,0,0.0);
	z-index:1;
	margin-top:2px;
	left:2px;
}

.toggle-3{margin-bottom:20px; margin-top:5px;}
.toggle-3 *{ transition:all 200ms ease;}
.toggle-3 i, .toggle-3 span{position:absolute;}
.toggle-3 i{padding:0px 13px 0px 13px;}
.toggle-active .toggle-3 i:last-child{opacity:0;}
.toggle-active .toggle-3 span{transform:translateX(30px);}

.toggle-3, .toggle-3 i{
	width:50px;
	height:15px;
	border-radius:15px;
	line-height:13px;
	font-size:10px;
	border:solid 1px rgba(0,0,0,0);
}

.toggle-3 span{
	width:22px;
	height:22px;
	border-radius:27px;
	background-color:#FFFFFF;
	border:solid 1px rgba(0,0,0,0.15);
	z-index:1;
	margin-top:-4px;
	left:-1px;
}


.toggle i{font-size:10px; color:#1f1f1f; transition:all 250ms ease;}
.toggle-active i{
	transform: rotate(180deg);
	transition:all 250ms ease;
	color:red;
}

/*Gallery*/

.gallery-thumbs{margin-bottom:20px;}
.gallery-thumbs .polaroid-effect{padding:4px;}
.gallery-thumbs a{float:left;}
.gallery-thumbs a img{
	margin-bottom:0px;
}

.gallery-round a img{border-radius:100%; overflow: hidden;}
@media(min-width:340px){
	.gallery-thumbs a{width:31.33333333%; margin-bottom:4%;}
	.gallery-thumbs a:nth-child(3n+2){margin-left:3%; margin-right:3%;}
}
@media(max-width:340px){
	.gallery-filter a{width:50%;}
	.gallery-thumbs a{width:47%; margin-bottom:6%;}
	.gallery-thumbs a:nth-child(odd){margin-right:6%;}
}

.gallery-filter a{
	width:30%;
	float:left;
	margin-left:1.5%;
	margin-right:1.5%;
	margin-bottom:3%;
}

.gallery-filter a img{margin-bottom:0px;}

.gallery-controls{margin:-20px 1.5% 3% 1.5%;}
.gallery-controls a{
	color:#1f1f1f;
	font-weight:800;
	font-size:12px;
	text-transform:uppercase;
	float:left; 
	padding:3px 15px 3px 15px;
	transition:all 250ms ease;
}

.active-category{
	background-color:#A0D468;
	color:#FFFFFF!important;
	transition:all 250ms ease;
}

/*Portfolio*/

.portfolio-double .button, .portfolio-single .button{
	margin-top:20px;
}

.portfolio-double .container{
	width:47%;
	float:left;
	margin-bottom:0px;
}

.portfolio-double .container:nth-child(2n+1){
	margin-right:6%;
}

/*Blog*/

.blog em{
	font-size:11px;
	font-style:normal;
	color:#868686;
	padding-right:10px;
	min-width:30%;
	display:inline-block;
	padding-bottom:5px;
	text-shadow:0px 1px 0px #FFFFFF;
}

.blog em i{
	padding-right:10px;
}

.blog-categories a{
	width:50%;
	float:left;
	height:30px;
	line-height:30px;
	display:block;
	color:#8c8c8c;
	text-shadow:0px 1px 0px #FFFFFF;
}

.blog-categories i{
	position:absolute;
	right:20px;
	height:30px;
	line-height:30px;
}

.blog-recent img{
	position:absolute;
	width:100px;
	height:100px;
}

.blog-recent{
	min-height:100px;
	margin-bottom:30px;
}

.blog-recent img{
	padding:5px;
}

.blog-recent strong{
	text-transform:uppercase;
	font-weight:800;
	display:block;
	padding-left:120px;
	font-size:15px;
	color:#1f1f1f;
}

.blog-recent em{
	display:block;
	padding-left:120px;
	color:#8c8c8c;
	font-style: normal;
}

.blog-recent span{
	padding-left:120px;
	color:#e34e47;
	text-align:right;
	display:block;
	font-size:12px;
}

/*---Contact Page---*/
/*------------------*/

.contactForm input,
.contactForm select{
	padding-left:10px;
	border:solid 1px rgba(0,0,0,0.1);
}

.contactForm textarea{
	border:solid 1px rgba(0,0,0,0.1);
}

.field-title{padding-left:0px; margin-left:0px;}
.contactField, .contactTextarea{
	font-size:12px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.contactField:focus, .contactTextarea:focus{
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.contactSubmitButton{
    font-family:'Lato',sans-serif;
	display:block!important;
	margin-right:4px;
	width:100%;
    font-weight:700;
}

.contact-form{margin:0px 10px 0px 0px;}
.contactNameField{padding-bottom:5px; font-size:12px;}
.contactNameField span{	float:right; opacity:0.2;}
.contactEmailField{	padding-bottom:5px;	font-size:12px;}
.contactEmailField span{float:right; opacity:0.2;}
.contactMessageTextarea{padding-bottom:5px;	font-size:12px;}
.contactMessageTextarea span{float:right; opacity:0.2;}
.formFieldWrap{margin-top:-5px;}
#contactNameField{text-transform:capitalize;}

.contactField{
	min-width:100%;	
	display:block;
	box-sizing:border-box;
}

.contactTextarea{
	min-width:100%;
	display:block;
	box-sizing:border-box;
}

.buttonWrap{-webkit-appearance:none;
	line-height:20px;
	padding-bottom:24px;
	min-width:43%;
	display:inline-block;
    margin-left:-1px;
}

.formSubmitButtonErrorsWrap a{
	width:25%;
	text-align:center;
	padding:8px 10px;
}

.contactFormButton #contactSubmitButton{
	margin-bottom:30px;
	padding-top:10px;
}

.formValidationError{
    height:40px;
    line-height:40px;
    margin-bottom:20px;
	background-color:#c0392b;
	text-align:center;
	color:#FFFFFF;
	text-transform: uppercase;
	font-weight:800;
	font-size:12px;
}

.formValidationError p{line-height:40px;}

.contactField{height:40px; padding:0px 10px 0px 10px; margin-bottom:10px;}
.contactTextarea{
    margin:0px 0px 20px 0px;
    padding:9px 12px 9px 12px;
	margin-bottom: 20px;
	line-height: 18px;
	height: 80px;
}

/*---Contact Icons---*/

.contact-information{text-shadow:0px 1px 0px #FFFFFF;}
.contact-information a i{display:inline-block; padding-right:20px;}
.contact-information a{display:block; width:100%; line-height:40px; color:#000000;}
.contact-information strong{font-size:16px; font-family:'Lato', sans-serif;}

/*Page Plugins*/
/* Owl Carousel v2.2.1 Copyright 2013-2017 David Deutsch  Licensed under  ()*/
.owl-carousel .owl-item,.owl-carousel .owl-wrapper,.owl-dots{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden}.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:all 250ms ease!important}.owl-auto-height .owl-height{transition:all 250ms ease-in-out!important}.owl-carousel .owl-item .owl-lazy{z-index:opacity: 0;transition:opacity .4s ease}.owl-carousel .owl-item img,.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-dot,.owl-dot.active{transition:all 250ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}.owl-no-dots .owl-dots{display:none!important}.owl-no-dots .cover-content-bottom{bottom:0;padding-bottom:30px}.owl-dots{text-align:center;bottom:5px;width:100%;backface-visibility:hidden}.owl-dot{border-radius:50px;height:8px;width:8px;display:inline-block;background:rgba(101,101,101,.3);margin-left:5px;margin-right:5px}.owl-dot.active{background:#b5b5b5}.owl-nav{position:absolute;top:50%;z-index:10;left:0;right:0}.owl-next,.owl-prev{width:40px;height:50px;position:absolute;color:#FFF;line-height:50px;text-align:center;font-size:16px;margin-top:-25px}.owl-prev{left:0}.owl-next{right:0}.owl-has-dots .owl-dots{margin-top:20px;margin-bottom:0}.owl-has-dots-over .owl-dots{margin-top:-40px;margin-bottom:10px} .next-slide-arrow, .prev-slide-arrow{position:absolute; bottom:50%; z-index:15; height:50px; line-height:50px; margin-bottom:-75px;width:50px; text-align:center;} .next-slide-arrow{right:0px;} .prev-slide-arrow{left:0px;} .next-slide-text{float:right; margin-top:-34px; z-index:2;} .prev-slide-text{float:left; margin-top:-34px; z-index:2;}

/* @url https://github.com/feimosi/baguetteBox.js*/
#baguetteBox-overlay{display:none;opacity:0;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:1000000;background-color:#222;background-color:rgba(0, 0, 0, 1);-webkit-transition:opacity .35s ease;transition:opacity .35s ease}#baguetteBox-overlay.visible{opacity:1}#baguetteBox-overlay .full-image{display:inline-block;position:relative;width:100%;height:100%;text-align:center}#baguetteBox-overlay .full-image figure{display:inline;margin:0;height:100%}#baguetteBox-overlay .full-image img{display:inline-block;width:auto;height:auto;max-height:100%;max-width:100%;vertical-align:middle;-webkit-box-shadow:0 0 8px rgba(0, 0, 0, .6);-moz-box-shadow:0 0 8px rgba(0, 0, 0, .6);box-shadow:0 0 8px rgba(0, 0, 0, .6)}#baguetteBox-overlay .full-image figcaption{display:block;position:absolute;top:0;width:100%;text-align:center;line-height:1.8;white-space:normal;color:#FFFFFF;background-color:#000;background-color:rgba(0, 0, 0, 1) !important;font-family:sans-serif;height:50px;margin-top:20px;font-size:12px}#baguetteBox-overlay .full-image:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px}#baguetteBox-slider{position:absolute;left:0;top:0;height:100%;width:100%;white-space:nowrap;-webkit-transition:left .4s ease, -webkit-transform .4s ease;transition:left .4s ease, -webkit-transform .4s ease;transition:left .4s ease, transform .4s ease;transition:left .4s ease, transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease}#baguetteBox-slider.bounce-from-right{-webkit-animation:bounceFromRight .4s ease-out;animation:bounceFromRight .4s ease-out}#baguetteBox-slider.bounce-from-left{-webkit-animation:bounceFromLeft .4s ease-out;animation:bounceFromLeft .4s ease-out}@-webkit-keyframes "bounceFromRight"{0%,100%{margin-left:0;}50%{margin-left:-30px;}}@keyframes "bounceFromRight"{0%,100%{margin-left:0;}50%{margin-left:-30px;}}@-webkit-keyframes "bounceFromLeft"{0%,100%{margin-left:0;}50%{margin-left:30px;}}@keyframes "bounceFromLeft"{0%,100%{margin-left:0;}50%{margin-left:30px;}}.baguetteBox-button#next-button,.baguetteBox-button#previous-button{width:50px;height:60px;bottom:0px;background-color:transparent}.baguetteBox-button{position:absolute;cursor:pointer;outline:0;padding:0;margin:0;border:0;-moz-border-radius:15%;border-radius:15%;background-color:#323232;background-color:rgba(50, 50, 50, .5);color:#ddd;font:1.6em sans-serif;-webkit-transition:background-color .4s ease;transition:background-color .4s ease}.baguetteBox-button:focus,.baguetteBox-button:hover{background-color:rgba(50, 50, 50, .9)}.baguetteBox-button#next-button{right:0px;width:33.3%;font-size:16px;text-align:right;padding-right:20px}.baguetteBox-button#previous-button{width:33.3%;left:0px;font-size:16px;text-align:left;padding-left:20px}.baguetteBox-button#close-button{font-size:14px;bottom:0px;width:50px;left:50%;margin-left:-16.7%;height:60px;background-color:transparent;width:33.3%}.baguetteBox-button svg{position:absolute;left:0;top:0}.baguetteBox-spinner{width:40px;height:40px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px}.baguetteBox-double-bounce1,.baguetteBox-double-bounce2{width:100%;height:100%;-moz-border-radius:50%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:bounce 2s infinite ease-in-out;animation:bounce 2s infinite ease-in-out}.baguetteBox-double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes "bounce"{0%,100%{-webkit-transform:scale(0);transform:scale(0);}50%{-webkit-transform:scale(1);transform:scale(1);}}@keyframes "bounce"{0%,100%{-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);}50%{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);}}.baguetteBox-button{display:block !important}

/*!
*  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
*  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot');src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 3s infinite linear;animation:fa-spin 3s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
*/


























